body {
  background-color: #bb8493;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #704264;
  padding: 1%;
}

h1 {
  text-align: center;
  color: pink;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3 {
  text-align: center;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  background-color: #704264;
}

footer h3 {
  color: pink;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.principal {
  width: 600;
  display: block;
  margin: 0 auto 50px;
  border-radius: 10px;
}

.home {
  padding: 10px 20px;
  background-color: #bb8493;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

/********************************register*********************************/
.main_contenedor {
  height: 72vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_contenedor section {
  margin: 5% 5% 5% 5%;
  width: 50%;
  align-items: center;
}

.section_form {
  margin-left: 10rem !important;
  height: 32rem;
  padding: 1rem;
  background-color: pink;
  background-color: transparent;
  border: 3px solid pink;
  border-radius: 1.5rem;
  backdrop-filter: blur(20px);
}

.section_form label {
  position: absolute;
  font-weight: bold;
  color: #704264;
  margin: 0.2rem 0 0 0rem;
}

.icon {
  font-size: 1.2rem;
  position: absolute;
  margin-left: 22rem;
  margin-top: 1rem;
  color: #582f4e;
}

.pets {
  position: absolute;
  font-size: 2rem;
  margin-left: 20rem;
  margin-top: 1rem;
  color: #582f4e;
}

.section_form input {
  width: 24rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
  background-color: transparent;
  color: #462f40;
  bottom: 0;
  border: none;
  border-bottom: 2px solid pink;
  outline: 0px;
}

.section_form input:hover,
.section_form input:focus {
  border-bottom: 2px solid #704264;
  transition: all 0.6s ease;
}

.input {
  position: relative;
  margin-bottom: 20px;
}

.input label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: top 0.4s, font-size 0.3s;
}

.input:focus-within label {
  top: -5px;
  font-size: 13px;
}

.section_form h2 {
  margin-left: 3.5rem;
  color: #582f4e;
}

input[type="submit"] {
  width: 14rem;
  height: 2.5rem;
  margin-left: 5.5rem;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #704264;
  color: #eeeeee;
  cursor: pointer;
}

input:hover[type="submit"] {
  background-color: pink;
  border: 1px solid #704264;
  color: #704264;
  transform: scale(1.1);
  transition: all 0.8s ease;
}

.section_image img {
  margin-left: -2rem;
  margin-top: 7%;
  height: 71.8vh;
  width: 53vw;
}
